* {
	padding: 0;
	margin: 0;
	border: 0;
	text-decoration: none;
	font-family: sans-serif;
}

h1 {
	font-weight: 400;
}

#left {
	width: 50vw;
	height: 100vh;
	position: fixed;
	left: 0;
}

.pics {
	width: 100%;
	margin: auto;
	position: absolute;
	vertical-align:middle;
	top: 50%;
	transform: translateY(-50%);
	display: block;
	transition: ease-in 8s;
}

.pics.hidden {
	display: none;
	transition: ease-in 0.4s;
}

#brag.changing {
	opacity: 0.5;
}

#right {
	width: 50vw;
	height: 100vh;
	position: absolute;
	right: 0;
}

.brag-content-holder {
	display: block;
	margin-top: 30vh;
	transform: translateY(-50%);
	padding: 30px;
	border-left: 2px solid #ccc;
}

#scroll-please {
	position: fixed;
	bottom: 5vh;
	left: 50vw;
	transform: translateX(-50%);
	color: #AAA;
}

.crimson {
	color: crimson;
}

#start-holder {
	margin-top: 30px;
	
}

#start {
	border: 2px crimson solid;
	border-radius: 999px;
	padding: 5px 10px;
	font-size: 120%;
}

#start:hover {
	background-color: crimson;
	color: white;
	transition-duration: 0.5s;
}
